--
-- PostgreSQL database dump
--

-- Dumped from database version 16.8
-- Dumped by pg_dump version 16.8

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user (
    id integer NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL
);


ALTER TABLE public.auth_user OWNER TO postgres;

--
-- Name: auth_user_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_groups (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.auth_user_groups OWNER TO postgres;

--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_user_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_user_user_permissions (
    id bigint NOT NULL,
    user_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_user_user_permissions OWNER TO postgres;

--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id integer NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: main_application; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_application (
    id bigint NOT NULL,
    full_name character varying(200) NOT NULL,
    identity_number character varying(11) NOT NULL,
    phone character varying(20) NOT NULL,
    email character varying(254) NOT NULL,
    address text NOT NULL,
    student_certificate character varying(100) NOT NULL,
    motivation text NOT NULL,
    important_project_order jsonb NOT NULL,
    created_at timestamp with time zone NOT NULL
);


ALTER TABLE public.main_application OWNER TO postgres;

--
-- Name: main_application_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_application ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_application_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_faq; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_faq (
    id bigint NOT NULL,
    question character varying(255) NOT NULL,
    answer text NOT NULL,
    scholarship_program_id bigint NOT NULL,
    answer_en text,
    answer_tr text,
    question_en character varying(255),
    question_tr character varying(255)
);


ALTER TABLE public.main_faq OWNER TO postgres;

--
-- Name: main_faq_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_faq ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_faq_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_heroslider; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_heroslider (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    subtitle character varying(300) NOT NULL,
    image character varying(100) NOT NULL,
    is_active boolean NOT NULL,
    subtitle_en character varying(300),
    subtitle_tr character varying(300),
    title_en character varying(200),
    title_tr character varying(200),
    link character varying(200)
);


ALTER TABLE public.main_heroslider OWNER TO postgres;

--
-- Name: main_heroslider_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_heroslider ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_heroslider_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_infographicstep; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_infographicstep (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    description text NOT NULL,
    icon character varying(100) NOT NULL,
    "order" integer NOT NULL,
    description_en text,
    description_tr text,
    title_en character varying(200),
    title_tr character varying(200),
    is_active boolean NOT NULL,
    CONSTRAINT main_infographicstep_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.main_infographicstep OWNER TO postgres;

--
-- Name: main_infographicstep_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_infographicstep ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_infographicstep_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_menuitem; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_menuitem (
    id bigint NOT NULL,
    title character varying(100) NOT NULL,
    title_tr character varying(100),
    title_en character varying(100),
    url character varying(255) NOT NULL,
    is_dropdown boolean NOT NULL,
    "order" integer NOT NULL,
    parent_id bigint,
    CONSTRAINT main_menuitem_order_check CHECK (("order" >= 0))
);


ALTER TABLE public.main_menuitem OWNER TO postgres;

--
-- Name: main_menuitem_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_menuitem ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_menuitem_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: main_scholarshipprogram; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.main_scholarshipprogram (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    slug character varying(50) NOT NULL,
    description text NOT NULL,
    image character varying(100) NOT NULL,
    tag character varying(100) NOT NULL,
    description_en text,
    description_tr text,
    title_en character varying(200),
    title_tr character varying(200)
);


ALTER TABLE public.main_scholarshipprogram OWNER TO postgres;

--
-- Name: main_scholarshipprogram_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.main_scholarshipprogram ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.main_scholarshipprogram_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: mytable; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mytable (
    model text,
    pk text,
    "fields.action_time" text,
    "fields.user" bigint,
    "fields.content_type" bigint,
    "fields.object_id" text,
    "fields.object_repr" text,
    "fields.action_flag" bigint,
    "fields.change_message" text,
    "fields.user_permissions" json,
    "fields.groups" json,
    "fields.password" text,
    "fields.last_login" text,
    "fields.is_superuser" boolean,
    "fields.username" text,
    "fields.first_name" text,
    "fields.last_name" text,
    "fields.email" text,
    "fields.is_staff" boolean,
    "fields.is_active" boolean,
    "fields.date_joined" text,
    "fields.expire_date" text,
    "fields.session_data" text,
    "fields.tag" text,
    "fields.image" text,
    "fields.title" text,
    "fields.title_tr" text,
    "fields.title_en" text,
    "fields.slug" text,
    "fields.description" text,
    "fields.description_tr" text,
    "fields.description_en" text,
    "fields.answer_en" text,
    "fields.answer_tr" text,
    "fields.scholarship_program" bigint,
    "fields.question" text,
    "fields.question_tr" text,
    "fields.question_en" text,
    "fields.answer" text,
    "fields.created_at" text,
    "fields.important_project_order" json,
    "fields.full_name" text,
    "fields.identity_number" text,
    "fields.phone" text,
    "fields.motivation" text,
    "fields.address" text,
    "fields.student_certificate" text,
    "fields.link" text,
    "fields.subtitle_en" text,
    "fields.subtitle_tr" text,
    "fields.subtitle" text,
    "fields.icon" text,
    "fields.order" bigint,
    "fields.parent" bigint,
    "fields.url" text,
    "fields.is_dropdown" boolean,
    "fields.content" text,
    "fields.content_en" text,
    "fields.content_tr" text,
    "fields.video_url_en" text,
    "fields.video_url_tr" text,
    "fields.video_url" text,
    "fields.profile_image" text,
    "fields.is_featured" boolean,
    "fields.name" text,
    "fields.surname" text,
    "fields.name_en" text,
    "fields.name_tr" text,
    "fields.category" bigint
);


ALTER TABLE public.mytable OWNER TO postgres;

--
-- Name: news_newsarticle; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_newsarticle (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    slug character varying(50) NOT NULL,
    content text NOT NULL,
    image character varying(100) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    category_id bigint,
    content_en text,
    content_tr text,
    title_en character varying(200),
    title_tr character varying(200)
);


ALTER TABLE public.news_newsarticle OWNER TO postgres;

--
-- Name: news_newsarticle_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_newsarticle ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_newsarticle_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: news_newscategory; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.news_newscategory (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    name_en character varying(100),
    name_tr character varying(100)
);


ALTER TABLE public.news_newscategory OWNER TO postgres;

--
-- Name: news_newscategory_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.news_newscategory ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.news_newscategory_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stories_interview; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stories_interview (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    title_tr character varying(200),
    title_en character varying(200),
    video_url character varying(200) NOT NULL,
    video_url_tr character varying(200),
    video_url_en character varying(200)
);


ALTER TABLE public.stories_interview OWNER TO postgres;

--
-- Name: stories_interview_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stories_interview ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stories_interview_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stories_story; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stories_story (
    id bigint NOT NULL,
    title character varying(200) NOT NULL,
    title_tr character varying(200),
    title_en character varying(200),
    content text NOT NULL,
    content_tr text,
    content_en text,
    image character varying(100) NOT NULL,
    slug character varying(50) NOT NULL
);


ALTER TABLE public.stories_story OWNER TO postgres;

--
-- Name: stories_story_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stories_story ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stories_story_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: stories_testimonial; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.stories_testimonial (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    surname character varying(100) NOT NULL,
    content text NOT NULL,
    is_featured boolean NOT NULL,
    tag character varying(100) NOT NULL,
    profile_image character varying(100)
);


ALTER TABLE public.stories_testimonial OWNER TO postgres;

--
-- Name: stories_testimonial_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.stories_testimonial ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.stories_testimonial_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auth_user; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user (id, password, last_login, is_superuser, username, first_name, last_name, email, is_staff, is_active, date_joined) FROM stdin;
1	pbkdf2_sha256$1000000$LfXV48698o0jcCgKn9qLa8$aeUKxiTod5xY33w4IP8hNgOBTFiu7FJnuFs1TbITLoU=	2025-06-27 13:21:42.175021+00	t	t3			havvanur.tekin@turkiyeteknolojitakimi.org	t	t	2025-06-27 13:21:35.15434+00
\.


--
-- Data for Name: auth_user_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: auth_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	admin	logentry
2	auth	permission
3	auth	group
4	auth	user
5	contenttypes	contenttype
6	sessions	session
7	main	scholarshipprogram
8	main	faq
9	main	application
10	main	heroslider
11	main	infographicstep
12	main	menuitem
13	stories	interview
14	stories	story
15	stories	testimonial
16	news	newscategory
17	news	newsarticle
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
3dblgt6p5lbevmyggi3xq3997onuvwki	.eJxVjEsOwiAUAO_C2pAHhRZcuu8ZGt4HqRqalHZlvLtp0oVuZybzVlPatzLtTdZpZnVVRl1-GSZ6Sj0EP1K9L5qWuq0z6iPRp216XFhet7P9G5TUyrENErL1ncXk2UAGl00UJCHfRYIYHHlrJDocAvseMyTAgcE5oMy2V58v5D439w:1uV91S:4bW2xmVe7_rl_4L1PkGxuSew2sVlcSduGoPXzVEQb34	2025-07-11 13:21:42.176992+00
\.


--
-- Data for Name: main_application; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_application (id, full_name, identity_number, phone, email, address, student_certificate, motivation, important_project_order, created_at) FROM stdin;
\.


--
-- Data for Name: main_faq; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_faq (id, question, answer, scholarship_program_id, answer_en, answer_tr, question_en, question_tr) FROM stdin;
1	Soru 1	fdfsf	1		fdfsf	Q 1	Soru 1
2	Soru 2	cevap	2	answer	cevap	Q 2	Soru 2
\.


--
-- Data for Name: main_heroslider; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.main_heroslider (id, title, subtitle, image, is_active, subtitle_en, subtitle_tr, title_en, title_tr, link) FROM stdin;
1	T3 Vakf─▒	T├╝rkiye Teknoloji Tak─▒m─▒ Vakf─▒ olarak teknoloji tutkusunu 7'den 70'e herkese a┼ş─▒lamak i├ğin ├ğal─▒┼ş─▒yoruz.	hero_sliders/emre_20250119_130800E.jpeg	t	As the T├╝rkiye Technology Team Foundation, we work to instill a passion for technology in everyone from 7 to 70.	T├╝rkiye Teknoloji Tak─▒m─▒ Vakf─▒ olarak teknoloji tutkusunu 7'den 70'e herkese a┼ş─▒lamak i├ğin ├ğal─▒┼ş─▒yoruz.	T3 Foundation	T3 Vakf─▒	https://t3vakfi.org/tr/
\.


--
-- Data for Name: main_infographicstep; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: main_menuitem; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: main_scholarshipprogram; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mytable; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: news_newsarticle; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: news_newscategory; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.news_newscategory (id, name, name_en, name_tr) FROM stdin;
1	Etkinlik	Activity	Etkinlik
2	Duyuru	Announcement	Duyuru
\.


--
-- Data for Name: stories_interview; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stories_story; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: stories_testimonial; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.stories_testimonial (id, name, surname, content, is_featured, tag, profile_image) FROM stdin;
1	Havva Nur	Tekin	yeni yorum siz ├ğok iyisiniz	t	olumlu	testimonials/1735593473694.jpeg
2	Ozan	Ayd─▒n	fena de─şil projeleriniz	t	olumsuz	
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 68, true);


--
-- Name: auth_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_groups_id_seq', 1, false);


--
-- Name: auth_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_id_seq', 1, true);


--
-- Name: auth_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_user_user_permissions_id_seq', 1, false);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 52, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 17, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 38, true);


--
-- Name: main_application_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_application_id_seq', 1, false);


--
-- Name: main_faq_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_faq_id_seq', 2, true);


--
-- Name: main_heroslider_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_heroslider_id_seq', 1, true);


--
-- Name: main_infographicstep_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_infographicstep_id_seq', 6, true);


--
-- Name: main_menuitem_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_menuitem_id_seq', 9, true);


--
-- Name: main_scholarshipprogram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.main_scholarshipprogram_id_seq', 5, true);


--
-- Name: news_newsarticle_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_newsarticle_id_seq', 2, true);


--
-- Name: news_newscategory_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.news_newscategory_id_seq', 2, true);


--
-- Name: stories_interview_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stories_interview_id_seq', 4, true);


--
-- Name: stories_story_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stories_story_id_seq', 4, true);


--
-- Name: stories_testimonial_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.stories_testimonial_id_seq', 2, true);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_pkey PRIMARY KEY (id);


--
-- Name: auth_user_groups auth_user_groups_user_id_group_id_94350c0c_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_group_id_94350c0c_uniq UNIQUE (user_id, group_id);


--
-- Name: auth_user auth_user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_permission_id_14a6b632_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_permission_id_14a6b632_uniq UNIQUE (user_id, permission_id);


--
-- Name: auth_user auth_user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user
    ADD CONSTRAINT auth_user_username_key UNIQUE (username);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: main_application main_application_identity_number_9f561df2_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_application
    ADD CONSTRAINT main_application_identity_number_9f561df2_uniq UNIQUE (identity_number);


--
-- Name: main_application main_application_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_application
    ADD CONSTRAINT main_application_pkey PRIMARY KEY (id);


--
-- Name: main_faq main_faq_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_faq
    ADD CONSTRAINT main_faq_pkey PRIMARY KEY (id);


--
-- Name: main_heroslider main_heroslider_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_heroslider
    ADD CONSTRAINT main_heroslider_pkey PRIMARY KEY (id);


--
-- Name: main_infographicstep main_infographicstep_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_infographicstep
    ADD CONSTRAINT main_infographicstep_pkey PRIMARY KEY (id);


--
-- Name: main_menuitem main_menuitem_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_menuitem
    ADD CONSTRAINT main_menuitem_pkey PRIMARY KEY (id);


--
-- Name: main_scholarshipprogram main_scholarshipprogram_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_scholarshipprogram
    ADD CONSTRAINT main_scholarshipprogram_pkey PRIMARY KEY (id);


--
-- Name: main_scholarshipprogram main_scholarshipprogram_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_scholarshipprogram
    ADD CONSTRAINT main_scholarshipprogram_slug_key UNIQUE (slug);


--
-- Name: news_newsarticle news_newsarticle_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_newsarticle
    ADD CONSTRAINT news_newsarticle_pkey PRIMARY KEY (id);


--
-- Name: news_newsarticle news_newsarticle_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_newsarticle
    ADD CONSTRAINT news_newsarticle_slug_key UNIQUE (slug);


--
-- Name: news_newscategory news_newscategory_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_newscategory
    ADD CONSTRAINT news_newscategory_pkey PRIMARY KEY (id);


--
-- Name: stories_interview stories_interview_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stories_interview
    ADD CONSTRAINT stories_interview_pkey PRIMARY KEY (id);


--
-- Name: stories_story stories_story_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stories_story
    ADD CONSTRAINT stories_story_pkey PRIMARY KEY (id);


--
-- Name: stories_story stories_story_slug_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stories_story
    ADD CONSTRAINT stories_story_slug_key UNIQUE (slug);


--
-- Name: stories_testimonial stories_testimonial_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.stories_testimonial
    ADD CONSTRAINT stories_testimonial_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: auth_user_groups_group_id_97559544; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_group_id_97559544 ON public.auth_user_groups USING btree (group_id);


--
-- Name: auth_user_groups_user_id_6a12ed8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_groups_user_id_6a12ed8b ON public.auth_user_groups USING btree (user_id);


--
-- Name: auth_user_user_permissions_permission_id_1fbb5f2c; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_permission_id_1fbb5f2c ON public.auth_user_user_permissions USING btree (permission_id);


--
-- Name: auth_user_user_permissions_user_id_a95ead1b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_user_permissions_user_id_a95ead1b ON public.auth_user_user_permissions USING btree (user_id);


--
-- Name: auth_user_username_6821ab7c_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_user_username_6821ab7c_like ON public.auth_user USING btree (username varchar_pattern_ops);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: main_application_identity_number_9f561df2_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_application_identity_number_9f561df2_like ON public.main_application USING btree (identity_number varchar_pattern_ops);


--
-- Name: main_faq_scholarship_program_id_de78dfbc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_faq_scholarship_program_id_de78dfbc ON public.main_faq USING btree (scholarship_program_id);


--
-- Name: main_menuitem_parent_id_02c730dc; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_menuitem_parent_id_02c730dc ON public.main_menuitem USING btree (parent_id);


--
-- Name: main_scholarshipprogram_slug_a2ad261f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX main_scholarshipprogram_slug_a2ad261f_like ON public.main_scholarshipprogram USING btree (slug varchar_pattern_ops);


--
-- Name: news_newsarticle_category_id_d1706a17; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_newsarticle_category_id_d1706a17 ON public.news_newsarticle USING btree (category_id);


--
-- Name: news_newsarticle_slug_f34cd91a_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX news_newsarticle_slug_f34cd91a_like ON public.news_newsarticle USING btree (slug varchar_pattern_ops);


--
-- Name: stories_story_slug_8e98603e_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX stories_story_slug_8e98603e_like ON public.stories_story USING btree (slug varchar_pattern_ops);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_group_id_97559544_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_group_id_97559544_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_groups auth_user_groups_user_id_6a12ed8b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_groups
    ADD CONSTRAINT auth_user_groups_user_id_6a12ed8b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permi_permission_id_1fbb5f2c_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_user_user_permissions auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_user_user_permissions
    ADD CONSTRAINT auth_user_user_permissions_user_id_a95ead1b_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_auth_user_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_auth_user_id FOREIGN KEY (user_id) REFERENCES public.auth_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_faq main_faq_scholarship_program__de78dfbc_fk_main_scho; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_faq
    ADD CONSTRAINT main_faq_scholarship_program__de78dfbc_fk_main_scho FOREIGN KEY (scholarship_program_id) REFERENCES public.main_scholarshipprogram(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: main_menuitem main_menuitem_parent_id_02c730dc_fk_main_menuitem_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.main_menuitem
    ADD CONSTRAINT main_menuitem_parent_id_02c730dc_fk_main_menuitem_id FOREIGN KEY (parent_id) REFERENCES public.main_menuitem(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: news_newsarticle news_newsarticle_category_id_d1706a17_fk_news_newscategory_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.news_newsarticle
    ADD CONSTRAINT news_newsarticle_category_id_d1706a17_fk_news_newscategory_id FOREIGN KEY (category_id) REFERENCES public.news_newscategory(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

